# Copy to .env for local `shopify app dev`
SHOPIFY_API_KEY=bf5472c84b033938e4f3cf3e9abd7eaa
SHOPIFY_API_SECRET=
SCOPES=read_discounts,read_locales,read_orders,read_products,read_themes,write_discounts,write_files,write_products,write_translations
SHOPIFY_APP_URL=https://localhost
DATABASE_URL=file:dev.sqlite
