<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS + HttpPlatformHandler ile UpCard Node sunucusu.
  Gereksinim: IIS'de "HttpPlatformHandler" yüklü olmalı.
  Site physical path: C:\wwwroot\shopifyApp_UpCard
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Program Files\nodejs\node.exe"
                  arguments=".\node_modules\@react-router\serve\dist\cli.js ./build/server/index.js"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node"
                  startupTimeLimit="120"
                  forwardWindowsAuthToken="false">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
